{% extends 'utilizador/layout.html' %}
{% block content %}
{% load fegt9_mpg_proteksaun_url %}
{% load crispy_forms_tags %}
		<!-- ============================================================== -->
						<!-- pageheader  -->
						<!-- ============================================================== -->
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="page-header">
									<h2 class="pageheader-title">Set {{tab}} level {{level}} </h2>
									<p class="pageheader-text">Konfigura Purchase request Timeline</p>
									<div class="page-breadcrumb">
										<nav aria-label="breadcrumb">
											<ol class="breadcrumb">
												<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">CVTL</a></li>
												<li class="breadcrumb-item active" aria-current="page">Hris Painel</li>
											</ol>

                                            
										</nav>
									</div>
								</div>
							</div>
						</div>
						<!-- ============================================================== -->
						<!-- end pageheader  -->
						<!-- ============================================================== -->
						<div class="ecommerce-widget">
	
				
							<div class="row">
								<!-- ============================================================== -->
						  
								<!-- ============================================================== -->
	
											  <!-- recent orders  -->
								<!-- ============================================================== -->
								<div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">

									<div class="card">
										<h5 class="card-header">Set {{tab}} level {{level}} <a href="{% url 'purchase_request:requestpurchase' %}" class="btn btn-primary btn-sm float-right ">  <i class="far fa-paper-plane"></i> Request purchase</a></h5>      
                                   

										<div class="card-body p-0">

											     
										<table align='center'>
										<tr><td>            {% crispy form %}</td></td>
										</table>
										<hr>
											<div class="table-responsive">

										
                         


												<table class=" table-sm" align ='center'>
													<thead class="bg-light">
														<tr class="border-0">
															<th class="border-0">Nu</th>
															<th class="border-0">Group</th>
															<th class="border-0">#</th>
													
														</tr>
													</thead>
													<tbody>

                                                        {% for dados in requeset %}
														<tr>
														
															<td>{{forloop.counter}}</td>
															<td>{{dados.group}}</td>
													
															<td>
															
										  <a href="{% url 'hrmsconf:hrmsconfrequestsetapaga' dados.id|encrypt_id_tag tab level %}" class="btn btn-primary btn-sm" >  <i class="fas fa-trash"></i> </a>


														
															</td>
			
														</tr>
                                                        {% endfor %}
													
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- ============================================================== -->
								<!-- end recent orders  -->
	
		
								<!-- ============================================================== -->
								<!-- ============================================================== -->
								<!-- customer acquistion  -->
								<!-- ============================================================== -->
							
								<!-- ============================================================== -->
								<!-- end customer acquistion  -->
								<!-- ============================================================== -->
							</div>
				
						
						</div>

{% endblock content %}